body {
    margin: 0;
    background: repeating-linear-gradient(
            45deg,
            #ccc,
            #ccc 10px,
            #bbb 10px,
            #bbb 20px
    );
    font-family: sans-serif;
}
